<template name="postEdit">
  <div class="ui two column grid basic segment">
    <div class='column'>
      <form class="ui form">
        <div class="field {{errorClass 'url'}}">
          <label class="control-label" for="url">URL</label>
          <div class="ui left labeled icon input">
              <input name="url" id="url" type="text" value="{{url}}" placeholder="Your URL" class="form-control"/>
              <i class="home icon"></i> 
          </div>          
          <span class=''>{{errorMessage 'url'}}</span>
        </div>
        <div class="field {{errorClass 'title'}}">
          <label class="control-label" for="title">Title</label>
          <div class="ui left labeled icon input">
              <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
              <i class="content icon"></i>
          </div>
           <span class=''>{{errorMessage 'title'}}</span>
        </div>
        <input type="submit" value="Submit" class="ui blue submit button"/>
        <a class="ui red delete button" href="#">Delete post</a>
      </form>
    </div>
  </div>
</template>