<template name="header">
  <div class='ui inverted menu'>
    <a href="{{pathFor 'home'}}" class='header item'>
      Microscope
    </a>
    <a class="item {{activeRouteClass 'home' 'newPosts'}}" href="{{pathFor 'newPosts'}}">New</a>
    <a class="item {{activeRouteClass 'bestPosts'}}" href="{{pathFor 'bestPosts'}}">Best</a>
    {{#if currentUser}}
      <a class="item {{activeRouteClass 'postSubmit'}}" href="{{pathFor 'postSubmit'}}">Submit Post</a>
      <div class="ui dropdown item" tabindex="0">
          {{> notifications}}
      </div>
    {{/if}}    
    <div class="item">
        {{> loginButtons}}
    </div>
  </div>
</template>