<template name="notifications1">
  <a href="#" class="" data-toggle="">
    Notifications
    {{#if notificationCount}}
      <span style='color:#FF00FF' class="">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <i class ="dropdown icon"></i>
  <div class="menu transition hidden" tabindex="-1" >    
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <div class="item"><span>No Notifications</span></div>
    {{/if}}   
  </div>  
  <script>
    $('.ui.dropdown').dropdown();
  </script>
</template>

<template name="notificationItem1">
  <div class= "item">
    <a style="color:blue" href="{{notificationPostPath}}">
      <strong>{{commenterName}}</strong> commented on your post
    </a>
  </div>
</template>